html {
  background: url('/images/nasty_fabric.png') repeat;
}
#worklist {
  margin-top: 20px;
}
#worklist table td {
  font-size: .8em;
}
#worklist table .remove {
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
}
#worklist legend {
  margin-bottom: 0px;
}
#worklist .description {
  font-size: .8em;
}
#worklist #timetable th,
#worklist #timetable td {
  text-align: center;
}
#worklist #timetable th {
  width: 35px;
}
#worklist #timetable tbody td {
  line-height: 5px;
}
#worklist #timetable .timetableButton {
  padding: 2px;
}
#worklist #timetable .first {
  margin-right: 2px;
}
#worklist #controls {
  margin: 5px 0px;
}
#worklist #controls a {
  margin: 5px;
}
#worklist #controls p {
  font-size: .8em;
}
