html {
	background: url('/images/nasty_fabric.png') repeat;
}

#worklist {
	margin-top: 20px;
	table {
		td {
			font-size: .8em;
		}	
		.remove  {
			font-size:1.2em; text-align: center; cursor: pointer;
		}
	}

	legend {
		margin-bottom: 0px;
	}

	.info {
		font-size: .8em;
	}

	#controls {
		margin: 10px 0px;
		a {
			margin: 5px;
		}
		p {
			font-size: .8em;
		}
	}
}
