html {
  background: url('/images/nasty_fabric.png') repeat;
}
#worklist {
  margin-top: 20px;
}
#worklist table td {
  font-size: .8em;
}
#worklist table .remove {
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
}
#worklist legend {
  margin-bottom: 0px;
}
#worklist .info {
  font-size: .8em;
}
#worklist #controls {
  margin: 10px 0px;
}
#worklist #controls a {
  margin: 5px;
}
#worklist #controls p {
  font-size: .8em;
}
