#worklist table td {
  font-size: .8em;
}
#worklist table .remove {
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
}
#worklist legend {
  margin-bottom: 0px;
}
#worklist .info {
  font-size: .8em;
}
#worklist #controls {
  margin: 10px;
}
#worklist #controls a {
  margin: 0px 5px;
}
