#header
      #ubc-logo
    #nav-holder
      #main-nav
          #student-info
            p
              b
                | Name:
              | &nbsp; Matei Negulescu &nbsp;
              b Student #: 
              | 12345678
              br
          #home-logout
            ul
              li
                a(href='#') HOME
              li |
              li
                a(href='#') LOGOUT
          h1.main-nav-title
            a(href='#', title='Student Service Centre Home', style='color: white;')  STUDENT SERVICE CENTRE
          #main-menu-left
            ul.sf-menu.sf-js-enabled.sf-shadow              
              li.first-nav-item
                a(href='#')
                  | Admissions                          
              li
                a(href='#')
                  | Finances                                  
              li
                a(href='#')
                  | Registration                  
              li
                a(href='#')
                  | Grades & Records                  
              li
                a(href='#')
                  | Exams                  
              li
                a(href='#')
                  | Housing & Food                  
              li
                a(href='#')
                  | Graduation                  
          #main-menu-right
            ul.sf-menu.sf-js-enabled.sf-shadow            
              li
                a(href='#')
                  | Personal Info                
              li
                a(href='#')
                  | Message Centre