include template_content
  .row(data-bind="with: currentWorklist")
    .span6
      legend Find Courses
        small &nbsp; Courses Registration System.
      section#courses(style="margin-top: 10px")
        ul#storeNav.nav.nav-tabs
          li.active
            a Basic search
          li
            a Advanced search        
        .navbar
          .navbar-inner           
            form.navbar-search.pull-left#search(data-bind="with: search")
              input.search-query(style="margin-top: 10px",data-bind="value: input, valueUpdate: 'afterkeyup'", type="text", placeholder="Type course name to search...")
              .dropdown                
                ul.dropdown-menu(role='menu', aria-labelledby='dLabel', data-bind="foreach: results, visible: containsElements")
                  li
                    a(data-bind="text: nameWithId, click: $parents[1].addCourse", href='#') COURSE NAME
            select(style="margin: 10px 0px; font-size: .9em", data-bind="options: faculties, value: selectedFaculty, optionsCaption: 'Select a Faculty'")
        table.table.table-striped                  
          thead
            th Faculty
            th Course name
            th ID
            th Terms
            th Status
          // ko if:hasCourses
          tbody(data-bind="template: { name:'storeTemplate', foreach:filteredCourses }")
          // /ko
          // ko ifnot:hasCourses
          tbody
            td(colspan="5")
              h6 Search a course with the search bar.
          // /ko
    .span4
      .row
        .terms
          ul#termContainer.nav.nav-tabs
            .registered(style="position: relative;left: 150px; top: 38px")
              span.colorCode(style="background-color: black; float: left; height: 20px; margin-right: 10px")
              p Courses already registered
            li.active
              a(href="#term1", data-toggle="tab") Term 1
            li
              a(href="#term2", data-toggle="tab") Term 2
          .tab-content
            #term1.tab-pane.fade.active.in                            
              .timetable.span4
                // ko if:hasConflict
                span.colorCode(style="background-color: red; float: left; height: 20px; margin-right: 10px")
                p Conflict between
                  a(data-bind="text: courseConflictA")  COURSE A
                  |  and 
                  a(data-bind="text: courseConflictB")  COURSE B
                // /ko
                table.table.table-bordered.table-striped(data-bind="with:timetable")
                  thead
                    tr(data-bind="foreach: days")
                      //ko if:$index() == 0
                      th 
                        a.btn.btn-primary.timetableButton.first(data-bind="click: $parent.up") &uarr;
                        a.btn.btn-primary.timetableButton(data-bind="click: $parent.down") &darr;
                      // /ko
                      //ko ifnot:$index() == 0
                      th(data-bind="text: $data")
                      // /ko
                  tbody(data-bind="foreach: classesHours")
                    tr(data-bind="foreach: days")
                      //ko if:isFirstColumn($index) 
                      td(data-bind="text: $parent.hour");
                      // /ko
                      //ko ifnot:isFirstColumn($index) 
                      td(data-bind="style: {'background-color': color}, css: {'whiteColor': $data.course().isRegistered}, with: course")
                        span(data-bind="text: id");
                      // /ko
            #term2.tab-pane
              .timetable.span4
                table.table.table-bordered.table-striped(data-bind="with:timetable")
                  thead
                    tr(data-bind="foreach: days")
                      //ko if:$index() == 0
                      th 
                        a.btn.btn-primary.timetableButton.first(data-bind="click: $parent.up") &uarr;
                        a.btn.btn-primary.timetableButton(data-bind="click: $parent.down") &darr;
                      // /ko
                      //ko ifnot:$index() == 0
                      th(data-bind="text: $data")
                      // /ko
                  tbody(data-bind="foreach: classesHours")
                    tr(data-bind="foreach: days")
                      //ko if:isFirstColumn($index) 
                      td(data-bind="text: $parent.hour");
                      // /ko
                      //ko ifnot:isFirstColumn($index) 
                      td(data-bind="style: {'background-color': color}, css: {'whiteColor': $data.course().isRegistered}, with: course")
                        span(data-bind="text: id");
                      // /ko  
  script(type="text/html")#storeTemplate    
      tr(data-bind="event: {mouseover: $parent.paintOver, mouseout: $parent.paintOut}, css: { success: checked }")
        td
          span(data-bind="text:faculty") FACULTY
        td
          a(href="mocks/course.html", class="lightview", data-lightview-type="ajax", data-lightview-options="skin: 'mac', radius: 5, padding: 10")
            span(data-bind="text:name") COURSENAME                    
        td(data-bind="text:id") COURSEID
        td
          span(data-bind="text:termsToString") TERM
        td
          span.label.label-important(data-bind="visible: isFull") Full
          span.label.label-info(data-bind="visible: isWaitingList") Waiting List
          span.label.label-success(data-bind="visible: isOpen") Open