!!! 5
html.no-js
  include head
  body
    include header
    .container(min-height: 600px;')            
      include template_content
    script(src='components/knockoutjs/build/output/knockout-latest.js')
    // build:js scripts/main.js
    script(src='scripts/vendor/bootstrap/bootstrap-tab.js')
    script(src='scripts/main.js')
    // endbuild
    script(type="text/html")#backlogTemplate    
      tr(data-bind="css: { success: checked, error: isFull, info: isWaitingList }")
        td(data-bind="ifnot: isFull")
          label.checkbox
            input(data-bind="checked: checked", type="checkbox")
        td 
          span(data-bind="text:name") COURSENAME
          &nbsp;
          span.label.label-important(data-bind="visible: isFull") Full
          span.label.label-info(data-bind="visible: isWaitingList") Waiting List
        td(data-bind="text:id") COURSEID
        td.remove(data-bind="click:$parent.removeFromBacklog") &times;
    script(type="text/html")#storeTemplate    
      tr(data-bind="css: { success: checked, error: isFull, info: isWaitingList }")
        td(data-bind="ifnot: isFull")
          label.checkbox
            input(data-bind="checked: checked", type="checkbox")
        td 
          span(data-bind="text:name") COURSENAME
          &nbsp;
          span.label.label-important(data-bind="visible: isFull") Full
          span.label.label-info(data-bind="visible: isWaitingList") Waiting List
        td(data-bind="text:id") COURSEID
        td
          span.colorCode(data-bind="style: {'background-color': color}") &nbsp;
    include footer