#worklist.row
        #body-left.span2
          h5 Registration
          #left_menu_nav
            ul#left_menu_id                
                li.subfolder
                  a(href='#') Courses
                  ul
                    li
                      a(href='#') Find Courses
                    li
                      a(href='#') My Courses
                    li
                      a(href='#') Timetable
                    li
                      a(href='#') Books
                li.subfolder
                  a(href='#') Worklists
                  ul
                    li
                      a(href='#') Worklist 1
                    li
                      a(href='#') Worklist 2                    
                li.subfolder
                  a(href='#') Programs
                  ul
                    li
                      a(href='#') Requirements
                    li
                      a(href='#') Specializations                    
                li.subfolder
                  a(href='#') Help                  
        .span10          