!!! 5
html.no-js
  include head
  body
    include header
    .container(min-height: 600px;')            
      include main_find_content
    script(src="http://www.parsecdn.com/js/parse-1.1.10.min.js")
    script(src='components/knockoutjs/build/output/knockout-latest.js')
    script(src='components/knockoutjs/build/output/knockout.mapping-latest.js')
    // build:js scripts/find.js    
    script(src='scripts/vendor/bootstrap/bootstrap-tab.js')
    script(src='scripts/find.js')
    // endbuild    
    include footer