#footer
      #footer-content
          #footer-copyright
            p
              | Maintained by Enrolment Services
              br
              | Copyright © 2009 The University of British Columbia
          #footer-menu
            ul
              li
                a(href='#', onclick='openFAQDialog(\'ContactUs\',\'TechnicalSupport\'); $(\'#ContactUs0_title\').click(); return false;')
                  | Contact
                  | Us
              li |
              li
                a(href='#', onclick='openFAQDialog(); return false;') SSC Help & Tutorials
              li |
              li
                a(href='#', onclick='openFAQDialog(\'TermsofUse\',\'General\'); $(\'#TermsofUse0_title\').click(); return false;')
                  | Terms
                  | of Use
              li |
              li
                a(href='http://survey.students.ubc.ca/public/survey.php?name=sscfeedback', target='_blank') Feedback
          #footer-messages
            p
              | The SSC is closed for system maintenance: Monday to Saturday, 3:00-3:30 am PST, and Sunday, 1:00-4:00 am
              | PST
