#footer
      #footer-content
          #footer-copyright
            p
              | Maintained by Enrolment Services
              br
              | Copyright © 2009 The University of British Columbia
          #footer-menu
            ul
              li
                a(href='#')
                  | Contact
                  | Us
              li |
              li
                a(href='#') SSC Help & Tutorials
              li |
              li
                a(href='#')
                  | Terms
                  | of Use
              li |
              li
                a(href='#') Feedback
          #footer-messages
            p
              | The SSC is closed for system maintenance: Monday to Saturday, 3:00-3:30 am PST, and Sunday, 1:00-4:00 am
              | PST
