include template_content
  .row(data-bind="with: currentWorklist")
    .span6
      legend My Courses
        small &nbsp; Registered courses.
      section#courses
        .navbar
          .navbar-inner           
            form.navbar-search.pull-left#search(data-bind="with: search")
              input.search-query(data-bind="value: input, valueUpdate: 'afterkeyup'", type="text", placeholder="Type course name to search...")
              .dropdown                
                ul.dropdown-menu(role='menu', aria-labelledby='dLabel', data-bind="foreach: results, visible: containsElements")
                  li
                    a(data-bind="text: name, click: $parents[1].addCourse", href='#') COURSE NAME
        .btn.btn-primary(data-bind="click: dropCourse") Drop
        table.table.table-striped                  
          thead
            th &nbsp;            
            th Switch
            th Course name
            th ID            
            th Color
          tbody(data-bind="template: { name:'storeTemplate', foreach:courses }")                                                            
    .span4
      .row
        .terms
          ul#termContainer.nav.nav-tabs
            li.active
              a(href="#term1", data-toggle="tab") Term 1
            li
              a(href="#term2", data-toggle="tab") Term 2
          .tab-content
            #term1.tab-pane.fade.active.in                            
              .timetable.span4
                table.table.table-bordered.table-striped(data-bind="with:timetable")
                  thead
                    tr(data-bind="foreach: days")
                      //ko if:$index() == 0
                      th 
                        a.btn.btn-primary.timetableButton.first(data-bind="click: $parent.up") &uarr;
                        a.btn.btn-primary.timetableButton(data-bind="click: $parent.down") &darr;
                      // /ko
                      //ko ifnot:$index() == 0
                      th(data-bind="text: $data")
                      // /ko
                  tbody(data-bind="foreach: classesHours")
                    tr(data-bind="foreach: days")
                      //ko if:isFirstColumn($index) 
                      td(data-bind="text: $parent.hour");
                      // /ko
                      //ko ifnot:isFirstColumn($index) 
                      td(data-bind="style: {'background-color': color}, css: {'whiteColor': $data.course().isRegistered}, with: course")
                        span(data-bind="text: id");
                      // /ko
            #term2.tab-pane
              .timetable.span4
                table.table.table-bordered.table-striped(data-bind="with:timetable")
                  thead
                    tr(data-bind="foreach: days")
                      //ko if:$index() == 0
                      th 
                        a.btn.btn-primary.timetableButton.first(data-bind="click: $parent.up") &uarr;
                        a.btn.btn-primary.timetableButton(data-bind="click: $parent.down") &darr;
                      // /ko
                      //ko ifnot:$index() == 0
                      th(data-bind="text: $data")
                      // /ko
                  tbody(data-bind="foreach: classesHours")
                    tr(data-bind="foreach: days")
                      //ko if:isFirstColumn($index) 
                      td(data-bind="text: $parent.hour");
                      // /ko
                      //ko ifnot:isFirstColumn($index) 
                      td(data-bind="style: {'background-color': color}, css: {'whiteColor': $data.course().isRegistered}, with: course")
                        span(data-bind="text: id");
                      // /ko  
  script(type="text/html")#storeTemplate    
      tr(data-bind="css: { success: checked }")
        td(data-bind="ifnot: isFull")
          label.checkbox
            input(data-bind="checked: checked", type="checkbox")
        td
          i.icon-retweet
        td 
          span(data-bind="text:name") COURSENAME
          &nbsp;
          span.label.label-important(data-bind="visible: isFull") Full
          span.label.label-info(data-bind="visible: isWaitingList") Waiting List
        td(data-bind="text:id") COURSEID
        td
          span.colorCode(data-bind="style: {'background-color': color}") &nbsp;        