/* line 1, ../../app/styles/courses.scss */
html {
  background: url("/images/c03780fc.nasty_fabric.png") repeat;
}

/* line 5, ../../app/styles/courses.scss */
#worklist {
  margin-top: 20px;
}
/* line 8, ../../app/styles/courses.scss */
#worklist table td {
  font-size: .8em;
}
/* line 11, ../../app/styles/courses.scss */
#worklist table .remove {
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
}
/* line 16, ../../app/styles/courses.scss */
#worklist legend {
  margin-bottom: 0px;
}
/* line 20, ../../app/styles/courses.scss */
#worklist .register {
  float: right;
}
/* line 24, ../../app/styles/courses.scss */
#worklist .description {
  font-size: .8em;
}
/* line 28, ../../app/styles/courses.scss */
#worklist .colorCode {
  border: 1px solid #999;
  padding: 0 16px;
}
/* line 34, ../../app/styles/courses.scss */
#worklist #timetable th, #worklist #timetable td {
  text-align: center;
}
/* line 37, ../../app/styles/courses.scss */
#worklist #timetable th {
  width: 35px;
}
/* line 40, ../../app/styles/courses.scss */
#worklist #timetable tbody td {
  line-height: 5px;
}
/* line 42, ../../app/styles/courses.scss */
#worklist #timetable tbody td span {
  line-height: 12px;
}
/* line 46, ../../app/styles/courses.scss */
#worklist #timetable .timetableButton {
  padding: 2px;
}
/* line 49, ../../app/styles/courses.scss */
#worklist #timetable .first {
  margin-right: 2px;
}
/* line 55, ../../app/styles/courses.scss */
#worklist #controls {
  margin: 5px 0px;
}
/* line 57, ../../app/styles/courses.scss */
#worklist #controls a {
  margin: 5px;
}
/* line 60, ../../app/styles/courses.scss */
#worklist #controls p {
  font-size: .8em;
}
